In [9]:
from datetime import date, timedelta
import numpy as np
import pandas as pd


import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style = 'whitegrid', color_codes = True)
%matplotlib inline

In [10]:
#pip install xlrd

In [11]:
train = pd.read_csv(
    '../test/healthcare-dataset-stroke-data.csv')

In [12]:
train.head(20)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1
10,12109,Female,81.0,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
11,12095,Female,61.0,0,1,Yes,Govt_job,Rural,120.46,36.8,smokes,1
12,12175,Female,54.0,0,0,Yes,Private,Urban,104.51,27.3,smokes,1
13,8213,Male,78.0,0,1,Yes,Private,Urban,219.84,NaN,Unknown,1
14,5317,Female,79.0,0,1,Yes,Private,Urban,214.09,28.2,never smoked,1
15,58202,Female,50.0,1,0,Yes,Self-employed,Rural,167.41,30.9,never smoked,1
16,56112,Male,64.0,0,1,Yes,Private,Urban,191.61,37.5,smokes,1
17,34120,Male,75.0,1,0,Yes,Private,Urban,221.29,25.8,smokes,1
18,27458,Female,60.0,0,0,No,Private,Urban,89.22,37.8,never smoked,1
19,25226,Male,57.0,0,1,No,Govt_job,Urban,217.08,NaN,Unknown,1

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
id                   5110 non-null int64
gender               5110 non-null object
age                  5110 non-null float64
hypertension         5110 non-null int64
heart_disease        5110 non-null int64
ever_married         5110 non-null object
work_type            5110 non-null object
Residence_type       5110 non-null object
avg_glucose_level    5110 non-null float64
bmi                  4909 non-null float64
smoking_status       5110 non-null object
stroke               5110 non-null int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [14]:
train.shape

(5110, 12)

In [15]:
train.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [16]:
#train['smoking_status'].value_counts(normalize=True, dropna=False)

In [17]:
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [18]:
#train['stroke'] = train['stroke'].map(
                  # {1:'Yes' ,0:'No'})
#train['hypertension'] = train['hypertension'].map(
                   #{1:'Yes' ,0:'No'})
#train['heart_disease'] = train['heart_disease'].map(
                   #{1:'Yes' ,0:'No'})

In [19]:
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [20]:
train['age'] = train['age'].apply(lambda x : round(x))

In [21]:
category = pd.cut(train.age,bins=[0,20,39,59,79,99],labels=['<20','20-39','40-59','60-79','80+'])
train.insert(6,'Age Group',category)

In [22]:
category = pd.cut(train.bmi,bins=[0,18.5,24.9,29.9,97.6],labels=['Under weight','Normal weight','Over weight','Obesity'])
train.insert(6,'BMI',category)

In [23]:
train = train.dropna()
print(train)

         id  gender  age  hypertension  heart_disease ever_married  \
0      9046    Male   67             0              1          Yes
2     31112    Male   80             0              1          Yes
3     60182  Female   49             0              0          Yes
4      1665  Female   79             1              0          Yes
5     56669    Male   81             0              0          Yes
...     ...     ...  ...           ...            ...          ...
5104  14180  Female   13             0              0           No
5106  44873  Female   81             0              0          Yes
5107  19723  Female   35             0              0          Yes
5108  37544    Male   51             0              0          Yes
5109  44679  Female   44             0              0          Yes

                BMI Age Group      work_type Residence_type  \
0           Obesity     60-79        Private          Urban
2           Obesity       80+        Private          Rural
3           Obesity     40-59        Private          Urban
4     Normal weight     60-79  Self-employed          Rural
5       Over weight       80+        Private          Urban
...             ...       ...            ...            ...
5104  Normal weight       <20       children          Rural
5106        Obesity       80+  Self-employed          Urban
5107        Obesity     20-39  Self-employed          Rural
5108    Over weight     40-59        Private          Rural
5109    Over weight     40-59       Govt_job          Urban

      avg_glucose_level   bmi   smoking_status  stroke
0                228.69  36.6  formerly smoked       1
2                105.92  32.5     never smoked       1
3                171.23  34.4           smokes       1
4                174.12  24.0     never smoked       1
5                186.21  29.0  formerly smoked       1
...                 ...   ...              ...     ...
5104             103.08  18.6          Unknown       0
5106             125.20  40.0     never smoked       0
5107              82.99  30.6     never smoked       0
5108             166.29  25.6  formerly smoked       0
5109              85.28  26.2          Unknown       0

[4890 rows x 14 columns]

In [24]:
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,BMI,Age Group,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67,0,1,Yes,Obesity,60-79,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80,0,1,Yes,Obesity,80+,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49,0,0,Yes,Obesity,40-59,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79,1,0,Yes,Normal weight,60-79,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81,0,0,Yes,Over weight,80+,Private,Urban,186.21,29.0,formerly smoked,1

In [27]:
train.to_csv('../test/healthcare-dataset-stroke-data.csv')

In [25]:
#pip install xlwt

In [26]:
writer = pd.ExcelWriter('../test/healthcare-dataset-stroke-data.csv')

ValueError: No engine for filetype: 'csv'

In [ ]:
train.to_excel(writer)

In [ ]:
writer.save()

In [ ]:
print('DataFrame is written successfully to Excel File.')